---
# {{ ansible_managed }}
version: '3'
services:
  plex:
    image: plexinc/pms-docker:{{ plex_version }}
    network_mode: host
    restart: always
    labels:
      container_group: mediacenter
    environment:
      TZ: "Europe/Warsaw"
      PLEX_CLAIM: "{{ plex_pass }}"
      PLEX_UID: 1000
      PLEX_GID: 1000
      ALLOWED_NETWORKS: "{{ ansible_default_ipv4.network }}/24"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ directories.configs }}/plex:/config
      - {{ directories.movies }}:/data/movies
      - {{ directories.tvshows }}:/data/tv
      - {{ directories.pictures }}:/data/pictures
      - {{ directories.videos }}:/data/videos
    privileged: true
    devices:
     - /dev/dri:/dev/dri
  plexpy:
    image: linuxserver/plexpy:{{ plexpy_version }}
    restart: always
    labels:
      container_group: monitoring
    ports:
      - "8181:8181"
    environment:
      PGID: "1000"
      PUID: "1000"
      TZ: "Europe/Warsaw"
    volumes:
      - {{ directories.configs }}/plexpy:/config
  couchpotato:
    image: linuxserver/couchpotato:{{ couchpotato_version }}
    restart: 'always'
    ports:
      - "5050:5050"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ directories.configs }}/couchpotato:/config
      - {{ directories.movies }}:/movies
      - {{ directories.downloads }}:/downloads
    labels:
      container_group: mediacenter
    environment:
      PGID: 1000
      PUID: 1000
      TZ: "Europe/Warsaw"
    logging:
      options:
        max-size: "1M"
        max-file: "5"
  transmission:
    image: haugene/transmission-openvpn:{{ transmission_version }}
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    restart: always
    labels:
      container_group: mediacenter
    ports:
      - "9091:9091"
    dns:
      - 208.67.222.222
      - 208.67.220.220
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ directories.configs }}/transmission-vpn:/data
      - {{ directories.downloads }}:/data/completed
    environment:
      OPENVPN_PROVIDER: "{{ openvpn.provider | upper }}"
      OPENVPN_USERNAME: "{{ openvpn.username }}"
      OPENVPN_PASSWORD: "{{ openvpn.password }}"
      OPENVPN_OPTS: "--inactive 3600 --ping 10 --ping-exit 60"
      LOCAL_NETWORK: "{{ ansible_default_ipv4.network }}/24"
      PUID: 1000
      GUID: 1000
      TRANSMISSION_WEB_UI: combustion
      TRANSMISSION_RATIO_LIMIT: 0.01
      TRANSMISSION_RATIO_LIMIT_ENABLED: "true"
  pic_sync:
    image: toughiq/owncloud-client:{{ owncloud_client_version }}
    restart: always
    volumes:
      - {{ directories.pictures }}:/ocdata
      - {{ directories.configs }}/owncloudclient/sync-exclude.lst:/etc/ownCloud/sync-exclude.lst
    labels:
      container_group: cloudsync
    environment:
      OC_USER: "{{ nextcloud.user }}"
      OC_PASS: "{{ nextcloud.token }}"
      OC_SERVER: "{{ nextcloud.server }}"
      OC_FILEPATH: "/Pictures_NAS"
      OC_PROTO: "https"
      OC_URLPATH: "/"
      RUN_INTERVAL: 300
      RUN_UID: "1000"
      SILENCE_OUTPUT: 0
    logging:
      options:
        max-size: "1M"
        max-file: "5"
  vid_sync:
    image: toughiq/owncloud-client:{{ owncloud_client_version }}
    restart: always
    volumes:
      - {{ directories.videos }}:/ocdata
      - {{ directories.configs }}/owncloudclient/sync-exclude.lst:/etc/ownCloud/sync-exclude.lst
    labels:
      container_group: cloudsync
    environment:
      OC_USER: "{{ nextcloud.user }}"
      OC_PASS: "{{ nextcloud.token }}"
      OC_SERVER: "{{ nextcloud.server }}"
      OC_FILEPATH: "/Videos"
      OC_PROTO: "https"
      OC_URLPATH: "/"
      RUN_INTERVAL: 300
      RUN_UID: "1000"
      SILENCE_OUTPUT: 0
    logging:
      options:
        max-size: "1M"
        max-file: "5"
